#container {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    align-items: center;
  }
  
  #image {
    height: 100px;
    width: 100px;
    margin-right: 25%;
    margin-left: 5%;
    transition: 1s;
  }
  
  #menu {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  #container p {
    color: darkslategray;
    font-size: large;
    font-weight: bolder;
  }
  
  .input input {
    border-radius: 10px;
    border: 1px solid white;
    height: 20px;
  }
  
  .input input:focus {
    border: 1px solid white;
    outline: none;
  }
  
  #icon {
    color: #999;
  }
  
  #cart {
    color: darkslategray;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    transition: width 0.3s;
    transition: 1s;
  }
  
  #service {
    margin-right: 15%;
  }
  
  @media screen and (max-width: 768px) {
    .container{
        align-items: center;
    }
    /* Adjust styles for smaller screens */
    #image {
      height: 80px;
      width: 80px;
      margin-right: 10%;
    }
  
    #menu,
    #service,
    #home {
      display: none; /* Hide menu and service elements */
    }
  
    #container p {
      font-size: medium; /* Decrease font size */
    }
  
    .burger-icon {
      margin-left: -10px;
    }
  
    input {
      margin-right: -20%;
      margin-top: -20px;
    }
  
    #cart {
      margin-right: -10px;
      width: 20px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .burger-icon {
      display: none;
      margin-left: -5px;
    }
  }
  
  .burger-icon {
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s;
  }
  
  .line {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .text {
    display: none;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .text.show {
    display: flex;
  }
  
  .text div {
    margin-bottom: 5px;
  }
  
  #image:hover{
    transform: rotate(360deg);
  }




  #service:hover{
    text-decoration: underline;
  }

  #home:hover{
    text-decoration: underline;
  }

  #menu:hover{
    text-decoration: underline;
  }